<div class="container">
  <div class="row">
    <div class="col-6 d-grid gap-2 mx-auto mt-4">
      <h2>プロフィール編集</h2>

      <%= form_with model: @customer, url: customers_update_path do |f| %>
      <%= render "public/shared/error_messages", resource: @customer %>

        <div class="field">
          <%= f.label :'名前' %><br />
          <%= f.text_field :last_name, autocomplete: "new-last_name" %>
          <%= f.text_field :first_name, autocomplete: "new-first_name" %>
        </div>

        <div class="field">
          <%= f.label :'フリガナ' %><br />
          <%= f.text_field :last_name_kana, autocomplete: "last_name_read" %>
          <%= f.text_field :first_name_kana,　autocomplete: "first_name_read" %>
        </div>

        <div class="field">
          <%= f.label :'郵便番号' %><br />
          <%= f.text_field :post_code, autofocus: true, autocomplete: "post_code" %>
        </div>

        <div class="field">
          <%= f.label :'住所' %><br />
          <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
        </div>

        <div class="field">
          <%= f.label :'電話番号' %><br />
          <%= f.telephone_field :tel, autofocus: true, autocomplete: "tel" %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions mt-2">
          <%= f.submit "Update", class: 'btn btn-secondary btn-md' %>
        </div>
      <% end %>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <strong><%= link_to "退会の手続きはこちら", withdraw_confirm_path, class: 'btn btn-outline-danger btn-sm' %></strong>
      </div>
    </div>
  </div>
</div>