<%= render 'admin/shared/error_messages', resource: @customer %>
<div class="container p-5">
  <div class="row offset-md-2">
  <h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h1>
  </div>
  <div class="row">
    <div class="col-8 offset-md-4">
  <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
        <table>
           <tr>
            <td><%= f.label :"会員ID" %></td>
            <td><%= @customer.id %> </td>
          </tr>
          <tr>
            <td><%= f.label :"氏名" %></td>
            <td><%= f.text_field :last_name %> <%= f.text_field :first_name %></td>
          </tr>
          <tr>
            <td><%= f.label :"フリガナ" %></td>
            <td><%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></td>
          </tr>
          <tr>
            <td><%= f.label :"郵便番号" %></td>
            <td><%= f.text_field :post_code %></td>
          </tr>
          <tr>
            <td><%= f.label :"住所" %></td>
            <td><%= f.text_field :address, style: "width:120%", rows: "5" %></td>
          </tr>
          <tr>
            <td><%= f.label :"電話番号" %></td>
            <td><%= f.telephone_field :tel %></td>
          </tr>
          <tr>
            <td><%= f.label :"メールアドレス" %></td>
            <td><%= f.email_field :email %></td>
          </tr>
          <tr>
            <td><%= f.label :"会員ステータス" %></td>
            <td>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
            </td>
          </tr>
          <tr>
          </tr>
      </table>
    <%= f.submit '変更を保存', class:"text-center btn btn-success" %>
  <% end %>
  </div>
</div>