<div class="container p-5">
  <div class="row offset-md-1">
    <div class="col-8 mx-auto pb-4">
      <h1><%= @customer.last_name %><%= @customer.first_name %>様の会員詳細</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <table class="table">
        <tr>
          <th>会員ID</th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.tel %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <th>会員ステータス</th>
          <td><% if @customer.is_deleted %>
            退会
            <% else %>
            有効
            <% end %>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-10 d-grid gap-2 d-md-flex justify-content-md-end">
      <div>
        <%= link_to '編集する', edit_admin_customer_path(@customer), class:"btn btn-sm btn-success mr-2" %>
      </div>
    </div>
  </div>
</div>