<div class="container p-5">
  <div class="row offset-md-2">
    <div class="col-8 mx-auto">
      <h3>商品新規登録</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-8 offset-md-4">
        <%= form_with model: @newitem, url: items_path, local:true do |f| %>
      <table>
          <tr>
            <td><%= f.label :"商品名" %></td>
            <td><%= f.text_field :item_name %></td>
          </tr>
          <tr>
            <td><%= f.label :"商品説明" %></td>
            <td><%= f.text_area :introduction, style: "width:80%", rows: "5" %></td>
          </tr>
      </table>
        <div class="button text-center">
        <%= f.submit '新規登録', class:"btn btn-sm btn-success" %>
        </div>
        <% end %>
    </div>
  </div>
</div>
