<div class="container p-5">
  <div class="row offset-md-1">
    <h1>店詳細</h1>
</div>
  <div class="row">
    <div class="col-4">
      <%= render 'public/genres/genre', genres: @genres %>
    </div>
    <div class="col-8">
      <table>
        <tr>
          <th>店名</th>
          <td><%= @item.item_name %></td>
        </tr>
        <tr>
          <th>店説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @item.genre.genre_name %></td>
        </tr>
      </table>
      <div class="button text-center">
      <%= link_to '店編集', edit_item_path(@item), class:"btn btn-sm btn-success" %>
      <%= link_to '新規レビュー', new_item_review_path(@item), class:"btn btn-sm btn-success" %>
      </div>
    </div>
  </div>
  <% @reviews.each do |review| %>
  <%= link_to item_review_path(@item.id,review.id) do %>
  <% if review.image.attached? %>
    <%= image_tag review.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image.png', size: "200x200" %>
  <% end %>
  <% end %>
  <div id="star_<%=  review.id %>"></div>
<script>
$(document).on('turbolinks:load', function() {
  let elem = document.querySelector('#star_<%=  review.id %>');
  if (elem == null) return;

  elem.innerHTML = "";
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    score: "<%=  review.star %>",
    readOnly: true,
  };
  raty(elem, opt);
});
</script>
  <% end %>
</div>