<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-body border-bottom border-dark">
    <div class="container">
      <a class="navbar-brand text-dark m-2" href="/">
        <h1>ラーメン８</h1>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
        <%= link_to 'admin', new_admin_session_path %>
          <li><strong>〜〜ようこそ、<%= current_customer.last_name %><%= current_customer.first_name %>さん〜〜</strong></li>
          <li>
            <%= link_to 'マイページ', customers_mypage_path, class:'nav-link text-light btn btn-dark ml-5' %>
          </li>
          <li>
            <%= link_to '店一覧', items_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%= link_to 'レビュー一覧', reviews_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'About', homes_about_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%=  link_to '店一覧', items_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%=  link_to '新規登録', new_customer_registration_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
          <li>
            <%= link_to 'ログイン', new_customer_session_path, class:'nav-link text-light btn btn-dark ml-2' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>