<!DOCTYPE html>
<html>
  <head>
    <title>PF</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if request.fullpath.include? "/admin" %>
      <%= render 'layouts/admin-header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <main>
    <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
